.app {
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", "Tahoma", "Sans-Serif";

  .seperator {
    margin: 9px 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f3f5;
  }
}
